.font-small {
    font-size: 0.875rem;
}
.h2 {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.00938em;
    line-height: 1.75;
    // color:rebeccapurple;
}
.p1 {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.011rem;
    // color: blue;
}
.p2 {
    font-size: 0.875rem;
    // font-weight: 600;
    color: grey;
}
.p3 {
    font-size: 1.015rem;
}
.p-base {
    font-size: 1rem;
}