@use './variables' as vars;
@use "./fonts";
@use "./mixins";

.sign-in-sign-up {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 8fr 1fr;
    // border: 2px solid black;
    .form-div {
        grid-row: 1 / 2;
        @include mixins.flexCenter();

        // &::before {
        //     content: '';
        //     position: absolute;
        //     width: 2000px;
        //     height: 220%;
        //     border-radius: 50%;
        //     background: linear-gradient(45deg, vars.$colorButton1, vars.$colorButton2);
        //     top: -10%;
        //     right: 50%;
        //     transform: translateY(-50%);
        //     z-index: -1;
        // }

        form {
            width: 80%;
            max-width: vars.$formMaxWidth;
            @include mixins.flexCenterColumnDirection();

            h1 {
                text-align: center;
                margin: 60px 0 60px 0;
                letter-spacing: 1px;
                .p-custom {
                    font-size: 1.1rem;
                    letter-spacing: normal;
                    font-weight: 300;
                }
                // position: sticky;
                // top: 30px;
            }
            .input-custom + p {
                color: red;
                // display: none;
                margin: 0;
                opacity: 0;
                height: 0;
            }
            // inputs when errors are present
            .invalid-username {
                @include mixins.invalid();
            }
            .invalid-password {
                @include mixins.invalid();
            }
            .invalid-email {
                @include mixins.invalid();
            }
            .invalid-phoneNo {
                @include mixins.invalid();
            }

            // error p tags
            .invalid-username + p {
                @include mixins.invalidInput();
            }
            .invalid-password + p {
                @include mixins.invalidInput();
            }
            .invalid-email + p {
                @include mixins.invalidInput();
            }
            .invalid-phoneNo + p {
                @include mixins.invalidInput();
            }

            button.button {
                width: 100%;
                margin: 2rem 0 0 0;
            }
            

        }
    }
    .check-account-status-div {
        grid-row: 2 / 3;
        max-height: 20px;
        text-align: center;
        p {
            display: inline-block;
            margin-right: 1rem;
        }
        .sign {
            text-decoration: none;
            color: black;
        }
    }
}

@media(max-width: 900px) {
    .sign-in-sign-up {
        .form-div {
            &::before {
                position: absolute;
                width: 1000px;
                height: 100vh;
                border-radius: 50%;
                background: linear-gradient(45deg, vars.$colorButton1, vars.$colorButton2);
                bottom: 60%;
                left: -70%;
                right: initial;
                top: initial;
                transform: translateX(-50%);
                z-index: -1;
            }
    }   
}
}