$formMaxWidth: 450px;
$pageMaxWidth: 900px;
$pageMaxWidth600: 600px;
$margin1: 27px;
$margin2: 3px;
$margin3: 15px;
$margin10: 10px;
$marginUnderTab: 30px;
$colorButton1: slateblue;
$colorButton2: coral;
// $colorButton1: #7AB3EF;
// $colorButton2: #D6A5D4;

// $colorButton1: #4E65FF;
// $colorButton2: #92EFFD;
// $colorButton2: #dbb6da;