$formMaxWidth: 450px;
$pageMaxWidth: 900px;
$pageMaxWidth600: 600px;
$margin1: 27px;
$margin2: 3px;
$margin3: 15px;
$margin10: 10px;
$marginUnderTab: 30px;
$colorButton1: #352351;
$colorButton2: #ACC4EF;
$bodyBackground: #f6f6f6;
$colorFA: #ffffff;
$colorHoverLight: #d4d4d4;


// $colorButton1: #352351;
// $colorButton2: #ACC4EF;
// $bodyBackground: #f4f7fc;
// $colorFA: #FAFAFA;
// $colorHoverLight: #d4d4d4;