@use '../../../../css/variables' as vars;

// div.wrapper-search {
//     max-width: vars.$pageMaxWidth300;
//     padding: 0;
//     margin: auto;
// }
div.container-search {
    max-width: vars.$formMaxWidth;
    padding: 0 0;
    margin: auto;
}
.input fieldset {
    border-radius: 50px;
    padding: 0;
    margin: 0;
    // .search-input fieldset {
    //     margin-top: 2rem;
    // }
}
.input {
    margin-top: 20px;
    padding: 0;
    max-width: vars.$formMaxWidth;
    
}
.filters {
    display: inline-block;
    margin: 0 5px 10px 0;
}
.select {
    margin: 0 0 0 10px;
    width: 100px;
    text-align: center;
    padding: 2px 5px;
    background-color: gray;
}
.main-title {
    margin: 0 0 5px 0;
}
select.search-by {
    margin-left: 15px;
    width: 140px;
    text-align: left;
}
form.search-by {
    margin-left: 5px;
}
.mt-large {
    display: none;
}

@media(min-width: 560px) {
    .mt-small {
        display: none;
    }
    .mt-large {
        display: block;
    }
    div.semi-top {
        display: flex;
    }
}

.search-form {
    position: relative;
    margin-bottom: vars.$margin3;
    .in-alt {
        margin-top: 0;
    }
    .bt-cust {
        height: 40px;
        position: absolute;
        right: 1px;
        width: 85px;
    }
}