@use '../../../../../css/mixins';
@use '../../../../../css/variables' as vars;

p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: vars.$margin1;
}
div.tab-content {
    @include mixins.flexCenterColumnDirection();
    @include mixins.boxShadowRound();
    border-radius: 5px;
    background-color: #FAFAFA !important;

    form.req-form {
        textarea {
            width: 100%;
            border-radius: 50px;
            margin-bottom: vars.$margin3;
            padding: 5px 0 0px 15px;
            background: #FAFAFA;
            border-color: #a1a0a0;
        }
        button {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}