@use '../../../css/mixins';
@use '../../../css/variables' as vars;

.drawer {
    background: vars.$bodyBackground;
}
.drawer-div {
    background: vars.$bodyBackground;
}
h1.drawer-title {
    margin: vars.$margin1 0;
    font-size: 1.4rem;
    font-weight: 500;
    width: 220px;
}

div.active-serv-container {
    max-width: 320px;
}
div.nav-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: linear-gradient(45deg, vars.$colorButton1, vars.$colorButton2);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 16px 0;

    .icon-btn {
        margin: auto;
    }
}
div.drawer-top {
    @include mixins.flexSpaceBetween();
}
.bottom-cont {
    position: relative;
    padding-bottom: 65px;
}
// .drawer {
//     width: 500px;
// }

// div.layout {
//     height: 100vh;
    // display: flex;
    // flex-direction: column;
    // @include mixins.flexCenter();
    // div.drawer-div {
        // .drawer {
        //     width: 500px;
        // }
    // }
    // h1.drawer-title {
    //     margin: vars.$margin10 0;
    // }
        
    
   // div.content-holder {
        // flex: 1;
        // display: flex;
        // justify-content: center;
        // overflow-y: auto;

        // IE and Edge scrollbar
        // -ms-overflow-style: none;

        // Firefox scrollbar
        // scrollbar-width: none;
   // }
    // chrome scrollbar
    // div.content-holder::-webkit-scrollbar {
    //     display: none;
    // }
    // div.permanent {
    //     display: none;
    // }
// }

// @media(min-width: 600px) {
//     div.layout {
        // display: block;
        // div.bottom-nav {
        //     display: none;
        // }
        // div.content-holder {
        //     overflow-y: initial;
        // }
        // div.permanent {
        //     display: block;
        // }
        // div.swipeable {
        //     display: none;
        // }
//     }
// }